{% extends "base.html" %}
{% load search_extras %}

{% block content %}
<div class="container">
    <div class="col ">
        <div class="row justify-content-center no-gutters mb-4" style="padding-bottom: 5%;">
            <div class="col-sm mr-0">
                <img src="{{ movie.cover }}" alt="{{ movie.title }}" class="mr-0" style="margin-left: 40%;">
            </div>
            <div class="col-sm">
                <div class="ml-4">
                    <h1 class="ml-3" style="color: orange;">{{ movie.title }}</h1>
                </div>
                <div id="marching-ants">
                    <p>{{ movie.summary }}</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-4 mb-0">
            <h1 style="color: peru; -webkit-text-stroke: 0.2px royalblue;">Main Actors</h1>
        </div>
        <div class="row justify-content-center mt-4">
            {% for actor in movie.actors.all %}
            <div class="col-sm mb-4 mt-2">
                <div class="row justify-content-center mt-0 mb-0">
                    <a href="{% url 'actor-detail' actor.name %}">
                        <img src="{{ actor.cover }}" alt="{{ actor.name }}" style="width: 8em; height: 12em;">
                    </a>
                </div>
                <div class="row justify-content-center">
                    <a href="{% url 'actor-detail' actor.name %}" style="justify-items: center;">{{ actor.name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row justify-content-center mt-4 mb-0">
            <h1 style="color: peru; -webkit-text-stroke: 0.2px royalblue;">Comments</h1>
        </div>
        {% for comment in movie.get_comments %}
        <div id="marching-ants">
            <p>{{ comment }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}