{% extends "list.html" %}

{% block grid %}
<div class="container">
    <div id="marching-ants"><p>{{ page.paginator.count }} results in total ({{ time_spent }} seconds)</p></div>
    <ul class="list-unstyled">
        {% for movie_or_actor in page.object_list %}
        <li class="media mb-4">
            {% if movie_or_actor.title %}
            <a href="{% url 'movie-detail' movie_or_actor.title %}">
                <img class="align-self-center ml-3 mr-0" src="{{ movie_or_actor.cover }}" alt="{{ movie_or_actor.title }}"
                    style="align-self:center; width: 10em; height: 15em;">
            </a>
            {% else %}
            <a href="{% url 'actor-detail' movie_or_actor.name %}">
                <img class="align-self-center ml-3 mr-0" src="{{ movie_or_actor.cover }}" alt="{{ movie_or_actor.name }}"
                    style="align-self:center; width: 10em; height: 15em;">
            </a>
            {% endif %}
            <div class="media-body ml-4">
                {% if movie_or_actor.title %}
                <h5 class="ml-0"><a href="{% url 'movie-detail' movie_or_actor.title %}">{{ movie_or_actor.title }}</a></h5>
                {% else %}
                <h5 class="ml-0"><a href="{% url 'actor-detail' movie_or_actor.name %}">{{ movie_or_actor.name }}</a></h5>
                {% endif %}
                <div id="marching-ants">
                    <p>{{ movie_or_actor.summary|truncatewords:120 }}</p>
                </div>
            </div>

        </li>
        {% endfor %}
    </ul>
</div>

{% endblock grid %}
