{% extends '../list.html' %}

{% block grid %}
<div class="container">
    <ul class="list-unstyled">
        {% for actor in page.object_list %}
        <li class="media mb-4">
            <a href="{% url 'actor-detail' actor.name %}">
                <img class="align-self-center ml-3 mr-0" src="{{ actor.cover }}" alt="{{ actor.name }}"
                    style="align-self:center; width: 10em; height: 15em;">
            </a>
            <div class="media-body ml-4">
                <h5 class="ml-0"><a href="{% url 'actor-detail' actor.name %}">{{ actor.name }}</a></h5>
                <div id="marching-ants">
                    <p>{{ actor.summary|truncatewords:120 }}</p>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock grid %}